<div class="w-[100%] pt-[3%] pb-[6%] box-border grid grid-cols-5">
  <h1
    class="text-white text-xl font-mono flex gap-4 col-span-4 lg:col-span-3 justify-start items-center"
  >
    <img src="../../images/letter-f.png" class="h-[80%]" alt="Company-Logo" />
    FirmWare
  </h1>
  <div class="lg:col-span-2 lg:flex hidden justify-between">
    <div class="hidden bg-transparent lg:inline-block">
      <button
        class="text-white font-mono flex pointer hover:text-green-400 items-center h-[100%] justify-center"
        >Project</button
      >
    </div>

    <div class="hidden bg-transparent lg:inline-block">
      <button
        class="text-white font-mono flex pointer hover:text-green-400 items-center h-[100%] justify-center"
        >About</button
      >
    </div>
    <div class="hidden bg-transparent lg:inline-block">
      <button
        onclick="document.location='/blogs'"
        class="text-white font-mono flex pointer hover:text-green-400 items-center h-[100%] justify-center"
        >Blogs</button
      >
    </div>
    <div class="hidden bg-transparent lg:inline-block">
      <button
        class="text-white font-mono flex pointer hover:text-green-400 items-center h-[100%] justify-center"
        >Contact</button
      >
    </div>
  </div>
  <div class="lg:col-span-1 flex justify-end lg:hidden items-center">
    <img src="../../images/menu.png" class="h-[50px] w-[50px]" />
  </div>
</div>
<style>
  button:hover {
    text-shadow:
      0px 0px 10px rgb(16, 235, 16),
      0px 0px 20px rgb(16, 235, 16),
      0px 0px 40px rgb(16, 235, 16),
      0px 0px 80px rgb(16, 235, 16),
      0px 0px 120px rgb(16, 235, 16);
  }
</style>
