---
const {
  title,
  description = "Community of music Producer and enthusiasts",
  image = "image/band.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="images/letter-f.png" />

    <title>{title}</title>
  </head>
  <body
    class="min-h-screen pl-[2%] pr-[2%] md:pl-[8%] md:pr-[8%] bg-gradient-to-bl from-blue-900 to-black"
  >
    <slot />
  </body>
</html>
